.tagline-span {
  @apply text-main-orange font-InterExtraBold 5xl:text-8xl xxl:text-7.5xl xl:text-7xl lg:text-7xl;
}
.tagline {
  @apply font-InterExtraBold 5xl:text-8xl xxl:text-7.5xl xl:text-7xl lg:text-6xl md:text-7xl text-4xl 5xl:leading-10 xxl:leading-[6rem] xl:leading-[5rem] md:leading-[4.2rem] leading-10 lg:px-0 md:px-17 px-0 lg:text-left text-center;
}
.hero-img {
  @apply relative 5xl:w-186 5xl:h-192 xxl:w-176 xxl:h-186 xl:w-176 xl:h-172 lg:w-166 lg:h-134 md:w-136 md:h-156 w-84 h-90;
}
.hero-cta {
  @apply font-InterExtraBold xxl:text-2.5xl xl:text-2xl md:text-2xl text-xl bg-main-orange rounded-full 5xl:py-10 5xl:px-16 xxl:py-8 xxl:px-13 xl:px-8 xl:py-6 lg:px-8 lg:py-5 md:px-8 md:py-5 px-7 py-5 hover:scale-95 transition ease-out duration-300;
}
.toggle-bg:after {
  content: "";
  @apply absolute top-0.5 left-0.5 bg-white border border-gray-300 rounded-full h-5 w-5 transition shadow-sm;
}

input:checked + .toggle-bg:after {
  transform: translateX(100%);
  @apply border-white;
}

input:checked + .toggle-bg {
  @apply bg-blue-600 border-blue-600;
}
.spec-desc {
  @apply text-white font-InterBold text-lg pb-6 pr-5 leading-10;
}
.download-btns {
  @apply flex px-2 justify-evenly w-52 h-14 rounded-full shadow-md items-center font-InterBold font-bold hover:scale-95 hover:shadow-lg duration-300 transition bg-white border;
}

.list-item {
  @apply pr-20 font-InterBold bg-white xxl:mb-12 xl:mb-10 md:mb-8 mb-5 rounded-3xl;
}
.list-item:first-of-type {
  border-color: transparent;
}

.list-item > p {
  color: black;
  @apply 5xl:text-5xl xxl:text-4.5xl xl:text-4xl lg:text-3xl md:text-2.5xl 3xs:text-2xl 4xs:text-xl font-InterExtraBold relative xxl:py-12 xl:py-10 lg:py-8 md:py-6 py-5 cursor-pointer 5xl:pl-22 xxl:pl-15 xl:pl-10 lg:pl-12 md:pl-8 pl-5 xl:pr-10 lg:pr-5 md:pr-3 pr-0 5xl:leading-13 xxl:leading-[3.5rem] xl:leading-[3rem] lg:leading-[2.5rem] md:leading-10 leading-[1.8rem] -mr-3 3xs:mr-0;
}

.clps {
  max-height: 0;
  transition: max-height 0.2s, opacity 0.2s, visibility 0.2s;
  opacity: 0;
  visibility: hidden;
  padding-bottom: 0;
  @apply font-InterRegular 5xl:text-4.5xl xxl:text-4xl xl:text-3xl lg:text-2xl md:text-2xl text-base block text-main-text_grey 5xl:px-22 xxl:px-17 xl:px-10 lg:px-12 md:px-10 px-6 lg:w-188 xl:w-[60rem] xxl:w-[68rem] 5xl:w-[90rem] md:w-140 3xs:w-80 4xs:w-72;
}

.close-delay {
  transition-delay: 0.1s, 0s, 0.1s;
}

.collapsed {
  transition-delay: 0s, 0.2s, 0s !important;
  opacity: 1 !important;
  visibility: visible !important;
  max-height: 300px !important;
  padding-bottom: 1.25rem !important;
  @apply xl:pb-20 pb-10;
}
.pricing-title {
  @apply 5xl:text-7.5xl xxl:text-6xl xl:text-5.5xl lg:text-5.5xl md:text-5.5xl text-4.5xl font-InterExtraBold lg:text-left text-center;
}
